<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ site.home_title | site.title | default: site.github.repository_name }}</h1>
    <h3>{{ site.home_subtitle | site.description | default: site.github.project_tagline }}</h3>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->

    <p>
        <a href="{{ site.baseurl }}{% post_url 2018-11-10-inscription2019 %}" role="button" class="btn btn-lg btn-success" aria-label="Remove">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <!-- <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> -->
            &nbsp;Inscriptions 2019
        </a>
    </p>
  </div>
</div>
