@charset "utf-8";

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: $text_color;
}

p {
    text-align: justify;
}

a {
    color: $main_color;
    font-weight: 600;
}

a:focus,
a:hover {
    color: $link_color;
    text-decoration: underline;
}


/*
    Post
*/

p.post-meta {
    color: $light_gray;
    border-bottom: 1px solid $light_gray;
}

h1.post-title {
    color: $main_color;
    font-weight: bold;
}

.post-content h2,
.post-content h3,
.post-content h4  {
    color: $light_gray;
}

/*
    post-list
*/

.post-list {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 40px;
}

.post-list p.post-meta {
    border: 0px;
}
