@charset "utf-8";

// Define defaults for each variable.
$bleu_fonce: #222F3E;
$bleu_clair: #1292B3;
$rouge: #B7222E;
$orange: #F08127;
$violet: #960075;

$main_color: lighten($bleu_fonce, 20%);
$text_color: #111;
$gray: #333;
$light_gray: #777;
