@charset "utf-8";

body {
  padding-top: 50px;
  padding-bottom: 0px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/*
    navbar
*/

.navbar {
    background-color: #FFF;
}

.navbar-default {
    border-color: $main_color;
}

.navbar-fixed-top {
    border-width: 0 0 2px;
}

.navbar-default .navbar-nav>li>a {
  color: $light_gray;
  font-weight: normal;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: $main_color;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: $main_color;
}

/*
    Jumbotron
*/

.jumbotron {
    text-align: center;
    min-height: 300px;
    background-color: $main_color;
    color: #FFF;
}

.jumbotron img {
    max-width: 80%;
    width: 700px;
    height: auto;
}

.jumbotron p {
    text-align: center;
    margin-top: 20px;
}

/*
    foot
*/

.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #FFF;
    background-color: $main_color;
    font-size: small;
}

.foot a {
    color: #FFF;
}

.foot a:focus,
.foot a:hover {
    color: #EEE;
}

.mention {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #CCC;
    background-color: $bleu_fonce;
    font-size: small;
}

.mention p {
    text-align: center;
}

.mention a {
    color: #CCC;
    text-decoration: underline;
    font-weight: normal;
}

.mention a:focus,
.mention a:hover {
    color: #FFF;
    text-decoration: underline;
}
