@charset "utf-8";

body {
  padding-top: 50px;
  padding-bottom: 0px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/*
    navbar
*/

.navbar {
    background-color: #FFF;
}

.navbar-default {
    border-color: $main_color;
}

.navbar-fixed-top {
    border-width: 0 0 2px;
}

.navbar-default .navbar-nav>li>a {
  color: $light_gray;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: $main_color;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: $main_color;
}

/*
    Jumbotron
*/

.jumbotron {
    text-align: center;
    background-color: $main_color;
    color: #FFF;
}

.jumbotron p {
    text-align: center;
    margin-top: 20px;
}

/*
    foot
*/

.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #FFF;
    background-color: $main_color;
    font-size: small;
}

.foot a {
    color: #DDD;
    text-decoration: none;
}

.foot a:focus,
.foot a:hover {
    color: $light_gray;
    text-decoration: underline;
}

.mention {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    background-color: $bleu_fonce;
    font-size: small;
    text-align: center;
}

.mention a {
    color: $light_gray;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.mention a:focus,
.mention a:hover {
    color: #DDD;
    text-decoration: underline;
}
