---
layout: default
list_title: ""
---

<div class="container">

    <header class="post-header">
    {%- if page.list_title -%}
      <h1 class="post-title" itemprop="name headline">{{ page.list_title | escape }}</h1>
    {%- else -%}
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- endif -%}
    </header>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {% assign sorted_posts = (site.posts | sort: 'date') | reverse %}
      {%- for post in sorted_posts -%}
      <li>
        <p class="post-meta pull-right">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% include date.html date=post.date %}
          </time>
        </p>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.author -%}
        <p class="post-meta">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="author" itemprop="name">{{ post.author | escape }}</span>
          </span>
        </p>
        {%- endif -%}
        {%- if page.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
  {%- endif -%}
</div>
