---
layout: default
---

{%- include jumbotron.html -%}

<div class="container">

  <article class="post" itemscope itemtype="http://schema.org/WebPage">
    <div class="row">
      <div class="col-md-6 col-xs-4">
          <img class="img-responsive" src="{{ page.feature_image }}" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>{{ page.title }}</h2>
        <p>{{ page.feature_text }}</p>
     </div>
    </div>

    {{ content }}
  </article>

  <hr />

  <div class="row">
    {% assign sorted_posts = (site.posts | sort: 'date') | reverse %}
    {% for post in sorted_posts %}
      <div class="col-md-4">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endfor %}
  </div>

</div>
